parameters:
    level: 5
    paths:
        - src
        - test
    excludePaths:
        - vendor
        # Exclude MVC plugin when laminas-mvc is not installed
        - src/Controller
    ignoreErrors:
        # Strict comparison that PHPStan misinterprets
        - '#Strict comparison using === between Laminas\\Db\\Sql\\Where and null will always evaluate to false#'
